<div class="general_footer_container">
    <div class="layout_general_footer_container">
        <div class="footer_links">
            <div class="layout_footer_links">
                <div>
                    <a href="" title="<%= __('title_pp_2')%>" target="_blank"><i class="fab fa-cc-paypal"></i></a>
                </div>
                <div>
                    <a href="https://github.com/1vanbrav0/mp3converter" title="<%= __('title_gh_2')%>"
                        target="_blank"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
        </div>
        <div class="data_footer">
            <div>
                <p>
                    <%= __('footer_1')%>
                    <a href="" title="<%= __('title_pp_2')%>" target="_blank">PayPal</a>
                    <%= __('footer_2')%>
                    <a href="https://github.com/1vanbrav0/mp3converter" title="<%= __('title_gh_2')%>"
                        target="_blank">GitHub</a>. <%= __('footer_3')%>
                </p>
            </div>
        </div>
    </div>
</div>